@font-face {
    font-family: MyFont;
    font-weight: 100;
    src: url('../fonts/myfont-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: MyFont;
    font-weight: 200;
    src: url('../fonts/myfont-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: MyFont;
    font-weight: 300;
    src: url('../fonts/myfont-Light.woff2') format('woff2');
}
@font-face {
    font-family: MyFont;
    font-weight: 400;
    src: url('../fonts/myfont-Regular.woff2') format('woff2');
}
@font-face {
    font-family: MyFont;
    font-weight: normal;
    src: url('../fonts/myfont-Regular.woff2') format('woff2');
}
@font-face {
    font-family: MyFont;
    font-weight: 500;
    src: url('../fonts/myfont-Medium.woff2') format('woff2');
}
@font-face {
    font-family: MyFont;
    font-weight: 600;
    src: url('../fonts/myfont-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: MyFont;
    font-weight: bold;
    src: url('../fonts/myfont-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: MyFont;
    font-weight: 700;
    src: url('../fonts/myfont-Bold.woff2') format('woff2');
}
@font-face {
    font-family: MyFont;
    font-weight: 800;
    src: url('../fonts/myfont-ExtraBold.woff2') format('woff2');
}
@font-face {
    font-family: MyFont;
    font-weight: 900;
    src: url('../fonts/myfont-Bold.woff2') format('woff2');
}
* {
    font-family: MyFont, serif ;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Root Color (BackGround And Text) */
.MAIN-COLOR { /* BackGround MAIN */
    background-color: rgb(0,5,19);
    color: white;
}
.SEC-COLOR { /* HEADER COLOR */
    background-color: rgb(1,10,27);
    color: white;
}
.THR-COLOR { /* MENU COLOR */
    background-color: rgb(8,16,29);
    color: black;
}
.CONTENT_BACK_COLOR { /* BackGround Lesson COLOR */
    background-color: rgb(31 41 55 / 1);
    color: white;
}
.LIST_LESSON { /* BackGround List Lesson */
    background-color: rgb(30 64 175 / 1);
    color: white;
}
.CONTENT_COLOR { /* BackGround Content Lesson */
    background-color: rgb(29 78 216 / 1);
    color: white;
}
/* Root Color (BackGround And Text) */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #949494;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(31 41 55) ;
}

/* Change Text Selection Color*/

::-moz-selection { /* Code for Firefox */
    color: blue;
    background: lightgreen;
}

::selection {
    color: blue;
    background: lightgreen;
}

/* Disable User Select */
/*
* {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 */