body {
    overflow-x: hidden;
}
/* Header Style */
header {
    position: sticky;
    top: 0;
    z-index: 999999999;
}
#side-menu {
    height: 100%;
    width: 20vw;
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translateX(20vw);
    transition: all 1s;
    overflow: auto;
}
.side-menu-enable {
    transform: unset !important;
}
@media screen and (max-width: 640px) {
    #side-menu {
        width: 50vw;
        transform: translateX(50vw);
        top: 12%;
    }
}
#close-side-menu-btn:hover , #open-side-menu-btn:hover {
    transition: all .5s;
    filter: hue-rotate(110deg);
}
li.openSubMenu ul.subMenuD{
    display: none;
}

/* Slider Images Lessons */
swiper-container::part(bullet-active) {
    background-color: red ;
}

/* Prism Custom */
.token.class-name { /* Change Color */
    color: rgb(239 68 68 / 1);
}
.token.function, .token.class-name, .token.variable{
    font-weight: bolder;
}

/**/
.main_content ul {
    list-style-type: circle;
    margin: 0 2rem;
}
.main_content li::marker {
    color: rgb(239 68 68 / 1);
}