@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base */
@layer base {
    h1 {
        @apply text-2xl my-2 font-bold;
    }
    h2 {
        @apply text-xl font-bold;
    }

    /* Start PrismJs */
    pre {
        direction: ltr;
    }
    /* End PrismJs */
}
/* Custom Project */
@layer components {

    .main_content { /* Style For Parent Content Lessons */
        @apply p-4 text-white text-center grid grid-cols-1 md:grid-cols-6 gap-4 overflow-hidden;
    }
    #LessonsMenu li{ /* Style for List Lessons <li> */
        @apply py-1 hover:bg-red-500 hover:text-white duration-500;
    }
    .content_lessons { /* Style for Content Lessons */
        @apply md:col-span-3 md:max-h-[80vh] space-y-3 text-justify rounded-2xl
                md:rounded-r-2xl md:rounded-l-none border-4 border-blue-800
                text-right py-3 px-5 text-white md:overflow-y-auto;
    }

    /* Start Style For Reference & Quiz */
    #referenceQuiz_lessons { /* Style Parent */
        @apply md:col-span-2 grid grid-rows-1 md:grid-rows-2 gap-3 text-center;
    }
    #referenceQuiz_lessons div { /* Style Child */
        @apply rounded-2xl md:rounded-r-2xl md:rounded-l-none md:overflow-y-auto
                md:max-h-[39vh] py-3 px-5 space-y-3;
    }
    #referenceQuiz_lessons div a { /* Style Child */
        @apply hover:text-blue-800 bg-red-500 my-[1px] inline-block py-0.5 px-2
            hover:bg-white hover:text-blue-400 duration-500;
    }
    #referenceQuiz_lessons div:last-child ol li { /* Style List For Submit */
        @apply flex flex-col;
    }
    #referenceQuiz_lessons div button { /* Style Button (Answer) */
        @apply py-1 px-3 bg-red-500 text-white my-2 rounded-full block
             text-center hover:bg-white hover:text-blue-400 duration-500;
    }
    #referenceQuiz_lessons div ol hr {
        @apply my-3 ;
    }
    /* End Style For Reference & Quiz */
}